<nav>
  <div class="nav-wrapper cyan darken-2">
    <ul class=" ">
      <li>
        <form [formGroup]="countryForm">
         <select formControlName="countryControl">
           <option [value]="country" *ngFor="let country of countries">{{country}}</option>
         </select>
        </form>
      </li>
      <li><a href="">View</a></li>
      <li><a href="">Time</a></li>
      <li><a href="">PDF</a></li>
      <li><a href="">Account</a></li>
    </ul>
  </div>
</nav>

<a routerLink="" routerLinkActive="active">Back</a>
