.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h5 {
  font-family: sans-serif;
}
form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

a{
  margin: 10px;
  font-family: sans-serif;
}
