<div class="new">
  <h3>
  Register
  </h3>
  <form>
    <input placeholder="Name" id="first_name" type="text" class="validate"/>
    <input placeholder="Lastname" id="Lastname" type="text" class="validate"/>
    <input placeholder="email" id="email" type="text" class="validate"/>
    <input placeholder="password" id="password" type="text" class="validate"/>
    <input placeholder=" confirm password" id="password" type="text" class="validate"/>
  </form>
  <button type="submit">Submit</button>
  <a routerLink="" routerLinkActive="active">Back to login</a>
</div>
